.create-post {
  margin: 0 1rem;
  .section {
    margin: 1rem;
  }
  .add-image-button-container {
    display: inline-block;
    button {
      min-height: 6rem;
      font-size: x-large;
    }
  }
}
